/backend/dist
/backend/node_modules
/backend/build
/backend/generated/prisma

/frontend/dist
/frontend/node_modules
/frontend/build

/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*

/backend/.DS_Store

/frontend/.DS_Store

/backend/coverage
/backend/.nyc_output

/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

/frontend/.idea
/frontend/.next
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json

/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json
/frontend/.env

/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

/backend/.temp
/backend/.tmp

/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock
/backend/uploads

/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json